<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IKullaniciService" />
                <binding name="BasicHttpBinding_IOgrenciService" />
                <binding name="BasicHttpBinding_IOgretmenService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55069/KullaniciService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IKullaniciService"
                contract="KullaniciService.IKullaniciService" name="BasicHttpBinding_IKullaniciService" />
            <endpoint address="http://localhost:55069/OgrenciService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOgrenciService"
                contract="OgrenciService.IOgrenciService" name="BasicHttpBinding_IOgrenciService" />
            <endpoint address="http://localhost:55069/OgretmenService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOgretmenService"
                contract="OgretmenService.IOgretmenService" name="BasicHttpBinding_IOgretmenService" />
        </client>
    </system.serviceModel>
</configuration>